\Структуры_типа  \@@  // переводимая_фраза
   \Открывающий_на_одну_строку

\Структуры_типа  \##  // непереводимые_преформатированные_несколько_строк
   \Простой
   .br .LP
   \Открывающий_на_одну_строку
   .SH .TP .TH .PP .LO .ft .\"

\Структуры_типа  \@~  // переводимая_конструкция 
   \Открывающий_на_одну_строку

\Структуры_типа  \@=  // непереводимая_конструкция
   \Открывающий_на_одну_строку
   .B  сущ   .BR сущ   .I  сущ   .IR сущ
   \Открывающий
   \fI сущ   \fB сущ
   \Закрывающий
   \fP

\Структуры_типа  \#<  // тег_прилепленный_слева
   \Простой 
   .sp
   \Открывающий_на_одну_строку
   .ta

\Структуры_типа  \#>  // тег_прилепленный_справа
   \Открывающий_на_одну_строку

\Структуры_типа  \#   // преформатированные_несколько_строк_-_часть_фразы
   \Открывающий_на_одну_строку
   \Открывающий
   .nf сущ
   \Закрывающий
   .fi
